.container{
    width: 700px;
    border: solid 1px #000;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}

.inserir-tarefa {
    display: flex;
    width: 640px;
    gap: 16px;
    
}

.inserir-tarefa input {
    flex: 4;
    height: 40px;
}

.inserir-tarefa button {
    flex: 1;
    height: 44px;
    font-size: 22px;
}